.result {
    width: 801px;
}

.result__title {
    font-size: $fz + 38;
    line-height: $lh + 31;
}

.table {
    margin: 48px 0;

    .table__header {
        padding-bottom: 16px;
        font-size: $fz - 2;
        line-height: $lh - 4;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    }

    .t-body__item {
        padding: 24px 0;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    }
}

.t-header__list,
.t-body__item {
    display: flex;
}

.t-body__name {
    @include ff-medium;
}

.t-header__left, .t-body__left {
    display: flex;
    width: 401px;
}

.t-header__right {
    display: flex;
    button {
        width: 120px;
        text-align: left;
    }
}
.t-header__button_hide {
    display: none;
}

.t-body__right {
    display: flex;
    justify-content: space-between;
    p {
        width: 120px;
    }
}

.t-body__floor span {
    color: rgba(11, 23, 57, 0.5);
}

.t-header__left li:first-child,
.t-body__left img {
    margin-right: 20px;
}

.t-body__left {
    img {
        width: 80px;
        height: 80px;
        padding: 0 7px;
    }
}

@media screen and (max-width: 960px) {
    .result {
        width: 506px;
    }

    .t-header__left {
        display: none;
    }

    .t-header__right{
        justify-content: start;
        button {
            width: 70px;
        }
    }

    .t-header__button_hide {
        display: flex;
    }

    .t-body__list {
        .t-body__item{
            flex-direction: column;
            position: relative;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 8px;
            box-shadow: none;
            padding: 24px 16px;
            margin-bottom: 4px;
        }

        .t-body__right {
            justify-content: start;
            margin-top: 16px;
            p{
                width: 96px;
            }
        }

        .t-body__left img {
            position: absolute;
            right: 0;
        }
    }

    .table .table__header {
        box-shadow: none;
        font-size: $fz;
    }
}